[Desktop Entry]
Name=Hedera
Icon=kwin
X-KDE-PluginInfo-Author=SF
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC-BY-SA_v4
X-KDE-PluginInfo-Name=Hedera
X-KDE-PluginInfo-Version=0.99
