[Desktop Entry]
Name=Hedera
Icon=image-jpg
X-KDE-PluginInfo-Name=Hedera
X-KDE-PluginInfo-Author=SSF
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC-BY-SA_V4
