Notification {
	border:1px solid #92908e;
	background:rgba(238,234,229,0.95);
	border-radius:2px;}

#appLabel,
#summaryLabel {
	font:bold;}

#closeButton {
	qproperty-iconSize:22px;
	border: none;
	qproperty-icon: url(images/close.png);}
#closeButton:hover,
#closeButton:pressed {
	qproperty-icon: url(images/close-active.png);}
