[Desktop Entry]
Name=Hedera High Contrast
Name[ar]=(HC) اللبلاب
Name[ca]=Heura (HC) 
Name[cs]=Břečťan (HC) 
Name[da]=Vedbend (HC) 
Name[de]=Efeu (HC) 
Name[en]=Ivy (HC) 
Name[el]=Κισσός (HC) 
Name[es]=Hiedra (HC) 
Name[fr]=Lierre (HC) 
Name[gd]=Eidheann (HC) 
Name[it]=Edera (HC) 
Name[ja]=ツタ (HC) 
Name[la]=Hedera (HC) 
Name[lu]=Wantergréng (HC) 
Name[nl]=Klimop (HC) 
Name[pt]=Hera (HC) 
Name[ru]=Плющ (HC) 
Name[sv]=Murgröna (HC) 
Name[zh]=常春藤 (HC) 
Icon=kwin
X-KDE-PluginInfo-Author=SSF
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC-BY-SA_v4
X-KDE-PluginInfo-Name=Hedera_hc
X-KDE-PluginInfo-Version=0.99
